<div class="row">
    <div class="col-xs-2 col-sm-1"><img alt="John Bryant" src="images/john_bryant.jpg" title="John Bryant"></div>
    <div class="col-xs-10 col-sm-11">
        <p><strong>John Bryant</strong></p>
        <p>Project Co-Director and General Editor, Professor Emeritus of English, Hofstra University</p>
    </div>
</div>
<div class="row pad-top-20">
    <div class="col-xs-2 col-sm-1"><img alt="Christopher Ohge" src="images/ohge_headshot_22.jpeg" title="Christopher Ohge"></div>
    <div class="col-xs-10 col-sm-11">
        <p><strong>Christopher Ohge</strong></p>
        <p>Project Co-Director, Senior Lecturer, Institute of English Studies and Digital Humanities Research Hub, University of London</p>
    </div>
</div>
<div class="row pad-top-20">
    <div class="col-xs-2 col-sm-1"><img alt="Wyn Kelley" src="images/wyn_kelley.jpg" title="Wyn Kelley"></div>
    <div class="col-xs-10 col-sm-11">
        <p><strong>Wyn Kelley</strong></p>
        <p>Associate Director, Senior Lecturer in Literature, MIT (emerita).</p>
    </div>
</div>
<div class="row pad-top-20">
    <div class="col-xs-2 col-sm-1"><img alt="Miller C. Prosser" src="images/MillerProsserPhoto.jpg" title="Miller C. Prosser"></div>
    <div class="col-xs-10 col-sm-11">
        <p><strong>Miller C. Prosser</strong></p>
        <p>Miller C. Prosser. Associate Director of Digital Studies, member of CEDAR initiative, University of Chicago.</p>
    </div>
</div>
<div class="row pad-top-20">
    <div class="col-xs-2 col-sm-1"><img alt="Sandra Schloen" src="images/SandySchloenPhoto.png" title="Sandra Schloen"></div>
    <div class="col-xs-10 col-sm-11">
        <p><strong>Sandra Schloen</strong></p>
        <p>Sandra Schloen, head of the OCHRE Data Service, Forum for Digital Culture, University of Chicago.</p>
    </div>
</div>
<div class="row pad-top-20">
    <div class="col-xs-2 col-sm-1"><img alt="Nicholas Laiacona" src="images/nick.png" title="Nicholas Laiacona"></div>
    <div class="col-xs-10 col-sm-11">
        <p><strong>Nicholas Laiacona</strong></p>
        <p>President, Performant Software Solutions LLC</p>
    </div>
</div>
<div class="row pad-top-20">
    <div class="col-xs-2 col-sm-1"><img alt="Jamie Folsom" src="images/folsom-jamie.jpg" title="Jamie Folsom"></div>
    <div class="col-xs-10 col-sm-11">
        <p><strong>Jamie Folsom</strong></p>
        <p>Vice President, Performant Software Solutions LLC</p>
    </div>
</div>
<div class="row pad-top-20">
    <div class="col-xs-2 col-sm-1"><img alt="Rebecca Black" src="images/black-r.jpeg" title="Rebecca Black"></div>
    <div class="col-xs-10 col-sm-11">
        <p><strong>Rebecca Black</strong></p>
        <p>Performant Software Solutions LLC</p>
    </div>
</div>
<div class="row pad-top-20">
    <div class="col-xs-12">
        <p><strong><em>EDITORIAL BOARD</em></strong></p>
        
        <p style="padding-left: 30px;"><em><strong>General Editor:</strong></em> John Bryant</p>
        <p style="padding-left: 30px;"><em><strong>Associate Editors:</strong></em> Wyn Kelley and Christopher
            Ohge</p>
        <p style="padding-left: 30px;"><em><strong>Co-editors:</strong></em> Colin Dewey, Timothy Marr, Gerard McGowan, Brian Yothers, Les Harrison and Haskell Springer</p>
        
        <p><strong><em>MEL RESEARCH GROUPS</em></strong></p>

        <p style="padding-left: 30px;"><em><strong>Editions</strong></em></p>
        <p style="padding-left: 60px;"><em><strong>Co-editors:</strong></em> John Bryant and Christopher Ohge</p>
        <p style="padding-left: 60px;"><em><strong>Projects:</strong></em> supervise editorial projects; develop
            metadata; supervise textual, contextual, and revision annotation.</p>
        <p style="padding-left: 60px;"><em><strong>Research Associates:</strong></em> John Bryant, Jaime Campomar, Rebecca Cheong, Dawn Coleman, Les Harrison, Wyn
        Kelley, Tony McGowan, Joseph Meyer, Christopher Ohge, Steve Olsen-Smith, Wesley Raabe, Steven Sill, Haskell Springer, John Walsh, John Wenke, Marta
        Werner</p>

        <p style="padding-left: 30px;"><em><strong>Adaptation and Adaptive Revision</strong></em></p>
        <p style="padding-left: 60px;"><em><strong>Editor:</strong></em> John Bryant</p>
        <p style="padding-left: 60px;"><em><strong>Projects:</strong></em> Build descriptive bibliographies; strategize navigations for sources,
            adaptations, and translations.</p>
        <p style="padding-left: 60px;"><em><strong>Research Associates and Consultants:</strong></em> Pilar Martínez Benedi, Jaime Campomar,
            Daniel Göske, Joel Myerson, Steven Olsen-Smith, Gordon Poole, G. Thomas
            Tanselle</p>

        <p style="padding-left: 30px;"><em><strong>Melville Letters &amp; Melville Family Correspondence</strong></em></p>
        <p style="padding-left: 60px;"><em><strong>Co-editors:</strong></em> Christopher Ohge and Rebecca Cheong</p>
        <p style="padding-left: 60px;"><em><strong>Projects:</strong></em> Assemble correspondence metadata; transcribe letters</p>

        <p style="padding-left: 30px;"><em><strong>Art</strong></em></p>
        <p style="padding-left: 60px;"><em><strong>Co-editors:</strong></em> Colin Dewey and Les Harrison</p>
        <p style="padding-left: 60px;"><em><strong>Projects:</strong></em> <em>Moby-Dick</em> and Art annotations; Melville’s print collection</p>
        <p style="padding-left: 60px;"><em><strong>Research Associates:</strong></em> Dennis Berthold, Les Harrison, Pilar Martinez Benedi, Christopher Sten,
        Robert K. Wallace</p>

        <p style="padding-left: 30px;"><em><strong>History</strong></em></p>
        <p style="padding-left: 60px;"><em><strong>Co-editors:</strong></em> Timothy Marr and Tony McGowan</p>
        <p style="padding-left: 60px;"><em><strong>Projects:</strong></em> Person, Place, Event metadata, annotation and mapping of <em>Battle-Pieces</em></p>
        <p style="padding-left: 60px;"><em><strong>Research Associates:</strong></em> Timothy Marr, Laura López Peña, Robert D. Madison, Cody Marrs, Christopher
        Ohge, Steve Rachman, Steven Olsen-Smith, Paul Wright</p>

        <p style="padding-left: 30px;"><em><strong>Travel</strong></em></p>
        <p style="padding-left: 60px;"><em><strong>Co-editors:</strong></em> Wyn Kelley and Brian Yothers</p>
        <p style="padding-left: 60px;"><em><strong>Projects:</strong></em> Place metadata, mapping Melville’s geographical imagination, Melville in London
        (Itinerary)</p>
        <p style="padding-left: 60px;"><em><strong>Research Associates:</strong></em> Brad Bannon, Anthony Cohen, Mary K. Bercaw Edwards, Mary Isbell, Jeffrey
        Markham, Katie McGettigan, John Stromski, Brian Yothers</p>

        <p><em><strong><span data-mce-mark="1">EDITORIAL CONSULTANTS</span></strong></em></p>
        <p style="padding-left: 30px;">Laura Mandell (Miami of Ohio), Jerome J. McGann (Virginia), Joel Myerson (South Carolina), Bethany Nowviskie (Virginia),
        Daniel Pitti (IATH Virginia), Kenneth Price (Nebraska), Stephen Railton (Virginia), Martha Nell Smith (Maryland), Haskell Springer (Kansas), Andrew
        Stauffer (NINES, Virginia), and G. Thomas Tanselle (Guggenheim, emeritus), John Walsh (Indiana)</p>

        <p><em><strong><span data-mce-mark="1">LIBRARY CONSULTANTS</span></strong></em></p>
        <p style="padding-left: 30px;">Daniel Rubey (Dean Emeritus, Hofstra Library), Howard Graves (Assistant Dean, Library Systems), Leslie Morris (Houghton), Thomas Lannon (NYPL), John A. Walsh (Indiana University).</p>

        <p><em><strong><span data-mce-mark="1">TECHNICAL CONSULTANTS</span></strong></em></p>
        <p style="padding-left: 30px;">Nick Laiacona and Jamie Folsom (Performant Software Solutions), Syd Bauman (Northeastern), Julia Flanders (Northeastern),
        Kurt Fendt (MIT), Brian Ferris and Kevin Pechin (Hofstra IT)</p>
    </div>
</div>
