<!-- Footer -->
<hr class="my-0">
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p><a href="http://www.neh.gov" target="_blank"><img alt="National Endowment for the Humanities"
                            border="0" height="50" src="images/neh_logo.png"></a></p>
            </div>
            <div class="col-md-3">
                <p><a href="http://hcl.harvard.edu/libraries/houghton/" target="_blank"><img
                            alt="The Houghton Library of the Harvard College Library" border="0" height="50"
                            src="images/houghton-library-logo.png"></a></p>
            </div>
            <div class="col-md-3">
                <p><img
                            alt="CEDAR" border="0" height="45"
                            src="images/CEDARLogo.png"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <p class="text-center">Find our project data on <a href="https://github.com/performant-software/mel-website" target="_blank">GitHub.<img src="/GitHub-Mark-64px.png"></a>
                </p>
                <p class="text-center">The Melville Electronic Library is grateful for past and current support from&nbsp;NEH, Houghton
                    Library, Hofstra DRC, and CEDAR at the University of Chicago.</p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
