<!-- Footer -->
<hr class="my-0">
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p><a href="http://www.neh.gov" target="_blank"><img alt="National Endowment for the Humanities"
                            border="0" height="50" src="images/neh_logo.png"></a></p>
            </div>
            <div class="col-md-3">
                <p><a href="http://hcl.harvard.edu/libraries/houghton/" target="_blank"><img
                            alt="The Houghton Library of the Harvard College Library" border="0" height="50"
                            src="images/houghton-library-logo.png"></a></p>
            </div>
            <div class="col-md-3">
                <p><a href="http://hofstradrc.org/" target="_blank"><img
                            alt="The Digital Research Center at Hofstra University" border="0" height="45"
                            src="images/drc-logo.png"></a></p>
            </div>
            <div class="col-md-3">
                <p class="pull-right-md-3"><a href="http://www.hofstra.edu"><img alt="Hofstra University" border="0"
                            height="27" src="images/hofstra_logo.png"></a><br>
                    Contact Us: <a href="mailto:John.L.Bryant@hofstra.edu">E-mail</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="text-center">The Melville Electronic Library is grateful for support from&nbsp;NEH, Houghton
                    Library, and Hofstra DRC</p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->