<!-- Menu -->

    <img alt="Moby Dick book spine" class="img img-responsive" src="images/md-spine-top.jpg"/> Books Collected
		<ul>
			<li>
				<a href="moby-dick-side-by-side.html"><em>Moby-Dick</em>: American and British First Editions</a>
			</li>
			<li>
				<a href="battle-pieces-corrected-first-edition-and-bound-proofs.html">Battle-Pieces: Melville’s Revised Copies (A &amp; C)</a>
			</li>
		</ul>In the Works
		<ul>
			<li>Typee (British and American editions, the American Revised Edition (1846), and the 1892 edition</li>
			<li>Billy Budd (20th-century posthumous editions: Weaver, Freeman, Hayford &amp; Sealts.)</li>
		</ul>

<!-- Menu -->