<!-- Menu -->


<h4>INTRODUCTION</h4>
<p>
    <a class="btn btn-success" href="editing-fluid-texts.html" style="width: 100%; margin-bottom: 4px;">
        <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-green.png"> 
        Editing Fluid Texts
    </a>
    <br>
    <a class="btn btn-success" href="versions-of-melville.html" style="width: 100%; margin-bottom: 4px;">
        <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-green.png">
        MEL’s Model Editions
    </a>
</p>
<h4>In the Works</h4>
<p>
    <a class="btn btn-success" href="versions-of-typee.html" style="width: 100%; margin-bottom: 4px;">
        <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-green.png">
        <em>Editing Typee</em>
    </a>
    <a class="btn btn-success" href="benito-cereno.html"
        style="width: 100%; margin-bottom: 4px;">
        <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-green.png">
        <em>Editing “Benito Cereno”</em>
    </a>
    <a class="btn btn-success"
        href="journals.html" style="width: 100%; margin-bottom: 4px;">
        <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-green.png">
        Editing Melville’s Travel Journals
    </a>
    <a class="btn btn-success" href="letters-and-family-correspondence.html"
        style="width: 100%; margin-bottom: 4px;">
        <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-green.png">
        Melville’s Letters and Family Correspondence
    </a>
    <a class="btn btn-success" href="adaptation.html"
        style="width: 100%; margin-bottom: 4px;">
        <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-green.png">
        Editing Adaptation and Adaptive Revision
    </a>
</p>


<!-- Menu -->
