<!-- Menu -->

<img alt="Herman Melville's Signature" class="img
        img-responsive" src="images/herman-melville-sig.png" /><br> <a class="btn btn-warning" href="manuscripts.html"
    style="width: 100%;
        margin-bottom: 4px;"><img alt="knot" aria-hidden="true" class="btnBullet" src="images/knot-orange.png" />
    Manuscripts</a> <a class="btn
        btn-warning" href="books.html" style="width: 100%; margin-bottom: 4px;"><img alt="knot" aria-hidden="true"
        class="btnBullet" src="images/knot-orange.png" /> Books</a>

<!-- Menu -->