<!-- Menu -->
 
<h4>INTRODUCTION</h4>
<a class="btn btn-success" href="tracking-the-versions.html" style="width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-green.png"> Tracking the Versions: Billy Budd</a> <a class="btn btn-success" href="how-to-use-the-edition.html" style="width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-green.png"> How to Use the Edition</a>
<h4>ENTER THE EDITION</h4>
<a class="btn btn-success" href="/editions/versions-of-billy-budd/chapter-1.html" rel="noopener" style="width: 100%; margin-bottom: 4px;" target="_blank"><img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-green.png"> Billy Budd: Reading Text</a>
<h4>DIGITAL EDITING</h4>
<a class="btn btn-success" href="modes-of-digital-editing.html" style="width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-green.png"> Modes of Digital Editing</a> <a class="btn btn-success" href="transcription-coding.html" style="width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-green.png"> Transcription Coding</a> <a class="btn btn-success" href="foliation-leaves-and-leaf-images.html" style="width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-green.png"> Foliation, Leaves, and Leaf Images</a> <a class="btn btn-success" href="emending-the-reading-text.html" style="width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-green.png"> Emending the Reading Text</a>
<h4>PROJECTS</h4>
<a class="btn btn-success" href="how-billy-grew.html" style="width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-green.png"> How Billy Grew</a> 

<!-- Menu -->