<!-- Archive Menu -->
<img align="center" alt="Moby Dick Book Spine" class="img img-responsive"
    src="images/md-british-v1/moby-dick-british-spine.jpg" style="padding: 0 0 30px 0; width: 350px; height: 250px;">
<br>
<ul type="disc">
    <li><a href="versions-of-moby-dick.html"><i>VERSIONS OF MOBY-DICK</i>: A Fluid-Text Edition</a>
        <ul type="circle">
            <li><a href="tracking-the-versions-moby-dick.html">Tracking the Versions: <i>Moby-Dick</i></a></li>
            <li><a href="how-to-use-the-edition-moby-dick.html">How to Use the Edition</a>
                <ul type="disc">
                    <li><a href="http://mel-juxta-editions.herokuapp.com/documents/293" target="_blank">Enter the
                            Edition</a></li>
                </ul>
            </li>
            <li><a href="moby-dick-side-by-side.html"><i>Moby-Dick</i> Side-by-Side: the American and British First Editions</a></li>
            <li><a href="expurgating-moby-dick.html">Collating Moby-Dick</a>
                <!-- <ul type="disc">
                    <li><a href="https://mel.hofstra.edu/juxta/moby-dick/0/3/sbs?compareTo=1"
                            target="_blank">Expurgations and Revision Narratives</a></li>
                </ul> -->
            </li>
        </ul>
    </li>
    <li>Projects in the Works
        <ul type="circle">
            <li><a href="adaptation.html">The Bradbury and Huston <i>Moby-Dick Project</i></a></li>
        </ul>
    </li>
</ul>


<!-- End Archive Menu -->