<!-- Menu -->
<a href="images/biography_young_melville.jpg" target="_blank">
    <img alt="Young Melville" border="0" class="img img-responsive" src=
    "images/biography_young_melville.jpg" style="padding: 0 0 15px 0;"/>
    <span class="sr-only">View a larger version of the Young Melville picture.</span>
</a>
    <a class="btn btn-primary" href="http://www.annotationstudio.org" style="width: 100%; margin-bottom: 4px;" target="_blank">
        <img alt="knot " aria-hidden=
    "true" class="btnBullet" src="images/knot-blue.png"/> Annotation Studio</a> 
    <a class="btn btn-primary" href="arts-and-prints.html" style=
    "width: 100%; margin-bottom: 4px;">
    <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-blue.png"/> Arts &amp; Prints</a>
<!-- Menu -->