<!-- Menu -->
<a href="images/biography_young_melville.jpg" target="_blank">
    <img alt="Young Melville" border="0" class="img img-responsive" src="images/biography_young_melville.jpg"
        style="padding: 0 0 15px;" />
    <span class="sr-only">View a larger version of the Young Melville picture.</span>
</a>
<a class="btn btn-warning" href="writings-on-fluid-texts.html" style="width: 100%; margin-bottom: 4px;">
    <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-orange.png" /> Bryant, John: Writings on
    Fluid Texts

</a>
</div>
<!-- Menu -->