<!-- Menu -->

<a href="images/biography_young_melville.jpg" target="_blank">
    <img alt="Young Melville" border="0" class="img img-responsive" src="images/biography_young_melville.jpg"
        style="padding: 0 0 15px;">
    <span class="sr-only">View a larger version of the Young Melville picture.</span>
</a>
<h4>Melville Family Writing Coterie</h4>
<a class="btn btn-primary" href="augusta-comp-intro.html" style="width: 100%; margin-bottom: 4px;">
    <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-blue.png" /> Gansevoort Revises Augusta:
    Introduction

</a>

<h4>Melville's Travel</h4>
<a class="btn btn-primary" href="http://hofstra.github.io/itinerary/videos/" style="width: 100%; margin-bottom: 4px;"
    target="_blank">
    <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-blue.png" /> Melville’s Travel: Using
    Itinerary

</a>
<a class="btn btn-primary" href="http://hofstra.github.io/itinerary/melville-in-london/"
    style="width: 100%; margin-bottom: 4px;" target="_blank">
    <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-blue.png" /> Melville in London

</a>
<a class="btn btn-primary" href="http://hofstra.github.io/itinerary/melville-in-rome/"
    style="width: 100%; margin-bottom: 4px;" target="_blank">
    <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-blue.png" /> Melville in Rome

</a>
<a class="btn btn-primary" href="pdf/mel_travel_grid.pdf"
    style="width: 100%; margin-bottom: 4px;" target="_blank">
    <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-blue.png" /> Melville’s Geographical
    Imagination

</a>
<ul>
    <li>Journals: Sample Images</li>
    <li>Letters &amp; Family Correspondence: Sample Images</li>
</ul>

<!-- Menu -->