<!-- Menu -->


<a href="images/biography_young_melville.jpg" target="_blank">
    <img alt="Young Melville" border="0" class="img img-responsive" src="images/biography_young_melville.jpg"
        style="padding: 0 0 15px 0;" />
    <span class="sr-only">View a larger version of the Young Melville picture.</span>
</a>
<a class="btn btn-warning" href="mel-wireframe.html" style="width: 100%; margin-bottom: 4px;">
    <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-orange.png" /> Tool Integration
    Wireframe</a>
<a class="btn btn-warning" href="textlab.html" style="width: 100%; margin-bottom: 4px;" />
<img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-orange.png" /> TextLab</a>
<a class="btn btn-warning" href="melcat-juxta-editions-integration.html#melcat"
    style="width: 100%; margin-bottom: 4px;">
    <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-orange.png" /> MELCat and Juxta
    Editions Integration</a>
<a class="btn btn-warning" href="melcat-juxta-editions-integration.html#juxta" style="width: 100%; margin-bottom: 4px;">
    <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-orange.png" /> Juxta Editions</a>
<a class="btn btn-warning" href="http://www.annotationstudio.org/" style="width: 100%; margin-bottom: 4px;"
    target="_blank">
    <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-orange.png" /> Annotation Studio</a>
<a class="btn btn-warning" href="http://hofstra.github.io/itinerary/videos/" style="width: 100%; margin-bottom: 4px;"
    target="_blank">
    <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-orange.png" /> Itinerary</a>
<a class="btn btn-warning" href="mel-remix-annotation-studio.html" style="width: 100%; margin-bottom: 4px;">
    <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-orange.png" /> Melville ReMix</a>
<a class="btn btn-warning" href="pdf/translation-tool.pdf" style="width: 100%; margin-bottom: 4px;">
    <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-orange.png" /> Translation Tool</a>

<!-- Menu -->