<!-- Menu -->

		<img alt="Billy Budd Manuscript sample" class="img img-responsive" src="images/ssp/manuscripts/346r_lg-no-ruler.jpg" /> Manuscripts collected:
		<ul>
			<li>
				<a href="weeds-and-wildings.html"><em>Weeds &amp; Wildings</em></a>
			</li>
			<li>
				<a href="rip-van-winkle-lilac.html">“Rip Van Winkle’s Lilac”</a>
			</li>
			<li>Journals</li>
			<li>
				<a href="billy-budd-final-chapter.html"><em>Billy Budd</em> (final chapter)</a>
			</li>
		</ul>In the Works:
		<ul>
			<li>
				<a href="versions-of-typee.html"><em>Typee</em></a>
			</li>
			<li>“Hawthorne and His Mosses”</li>
			<li>Correspondence</li>
		</ul>

<!-- Menu -->