<!-- Menu -->

 
    <p><a href="images/what_is_md.jpg" target="_blank"><img align="center" alt="Moby Dick American Edition Cover and Spine" class="img img-responsive" src="images/what_is_md_sm.jpg" style="padding: 0 0 30px 0;"></a></p>
    <ul type="disc">
    <li><a href="versions-of-moby-dick.html"><i>VERSIONS OF MOBY-DICK</i>: A Fluid-Text Edition</a>
    <ul type="circle">
    <li><a href="tracking-the-versions-moby-dick.html">Tracking the Versions: <i>Moby-Dick</i></a></li>
    <li>How to Use the Edition
    <ul type="disc">
    <li><a href="/editions/versions-of-moby-dick/1-loomings.html" target="_blank">Enter the Edition</a></li>
    </ul>
    </li>
    <li><a href="moby-dick-side-by-side.html"><i>Moby-Dick</i> Side-by-Side: the American and British First Editions</a></li>
    <li><a href="expurgating-moby-dick.html">Collating Moby-Dick</a>
    <ul type="disc">
    <li><a href="https://mel.hofstra.edu/juxta/moby-dick/0/3/sbs?compareTo=1" target="_blank">Expurgations and Revision Narratives</a></li>
    </ul>
    </li>
    </ul>
    </li>
    <li>Projects in the Works
    <ul type="circle">
    <li><a href="adaptation.html">The Bradbury and Huston <i>Moby-Dick Project</i></a></li>
    </ul>
    </li>
    </ul>
  
    
<!-- Menu -->