<!-- Archive Menu -->
<a href="images/biography_young_melville.jpg" target="_blank"><img alt="Young Melville" border="0" class="img img-responsive" src=
    "images/biography_young_melville.jpg" style="padding: 0 0 15px 0;"><span class="sr-only">View a larger version of the Young Melville picture.</span></a>
    <a class="btn btn-warning" href="https://www.youtube.com/watch?v=SUSSpARVn5w" style="width: 100%; margin-bottom: 4px;" target="_blank"><img alt="knot "
    aria-hidden="true" class="btnBullet" src="images/knot-orange.png"> Primary and Secondary Editing in TextLab (video)</a> <a class="btn btn-warning" href=
    "https://www.youtube.com/watch?v=y93AkxSuGMM" style="width: 100%; margin-bottom: 4px;" target="_blank"><img alt="knot " aria-hidden="true" class="btnBullet"
    src="images/knot-orange.png"> TextLab's Juxta Collation and Revision Narrative Feature (video)</a>
<!-- End Archive Menu -->