<!-- Archive Menu -->
 
    <a class="btn btn-warning" href="melcat-juxta-editions-integration.html" style="width: 100%; margin-bottom: 4px;">  
        <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-orange.png" /> MELCAT  
    </a>
    <a class="btn btn-warning" href="manuscripts-and-books.html" style="width: 100%; margin-bottom: 4px;">
        <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-orange.png" /> Manuscripts &amp; Books

    </a>
    <a class="btn btn-warning" href="arts-and-prints.html" style="width: 100%; margin-bottom: 4px;">
        <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-orange.png" /> Arts &amp; Prints

    </a>
    <a class="btn btn-warning" href="sources.html" style="width: 100%; margin-bottom: 4px;">
        <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-orange.png" /> Sources

    </a>
    <a class="btn btn-warning" href="adaptation.html" style="width: 100%; margin-bottom: 4px;">
        <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-orange.png" /> Adaptation

    </a>
    <a class="btn btn-warning" href="biographical-materials.html" style="width: 100%; margin-bottom: 4px;">
        <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-orange.png" /> Biographical Materials

    </a>
    <a class="btn btn-warning" href="bibliography.html" style="width: 100%; margin-bottom: 4px;">
        <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-orange.png" /> Bibliography
                                    
    </a>
    <a class="btn btn-warning" href="tool-kit.html" style="width: 100%; margin-bottom: 4px;">
        <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-orange.png" /> MEL ToolKit
                                        
    </a>
 
<!-- End Archive Menu -->