<!-- Menu -->
<h4>Film ADAPTATION</h4><a class="btn btn-primary" href="film-adaptation.html" style="width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true"
    class="btnBullet" src="images/knot-blue.png"> Houston's 1956 "Moby Dick"</a> <a class="btn btn-primary" href="bradbury-screenplay-project.html" style=
    "width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-blue.png"> Sample Collation of Bradbury's
    Screenplay v. Melville's <em>Moby-Dick</em></a> <a class="btn btn-primary" href="storyboarding-moby-dick.html" style=
    "width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-blue.png"> Sample Images from William Grimes's
    Storyboards for Houston's "Moby Dick"</a>
    <h4>TRAVEL: Melville's Geographical Imagination</h4>
    <ul type="circle">
        <li>Itinerary: Melville in London (Travel)</li>
        <li>Itinerary: Melville in Rome (Travel)</li>
    </ul>
    <h4>TextLab</h4>
    <ul>
        <li><em>Billy Budd</em> at Hofstra and MIT (Manuscripts)</li>
    </ul>
    <h4>Biography</h4><a class="btn btn-primary" href="augusta-comp-intro.html" style="width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true"
    class="btnBullet" src="images/knot-blue.png"> Gansevoort Revises Augusta: Introduction</a> <a class="btn btn-primary" href=
    "http://juxtacommons.org/shares/ruqAkx/sidebyside?docs=2818,2819&amp;top=0" style="width: 100%; margin-bottom: 4px;" target="_blank"><img alt="knot "
    aria-hidden="true" class="btnBullet" src="images/knot-blue.png"> Gansevoort Revises Augusta: Collation</a> 
    <!-- <a class="btn btn-primary" href="timeline.html"
    style="width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-blue.png"> Timeline: <em>Battle-Pieces</em>
    Timeline</a><br> -->
    <br>
    <a class="btn btn-primary" href="mel-remix-annotation-studio.html" style="width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true" class=
    "btnBullet" src="images/knot-blue.png"> Melville ReMix</a> <a class="btn btn-primary" href="use-cases.html" style=
    "width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-blue.png"> Use Cases</a>
    <ul>
        <li>TextLab in the Classroom: Billy Budd at Hofstra and MIT (Under Construction)</li>
    </ul>
<!-- Menu -->