<!-- Menu -->
<h4>TEXT ANALYSIS</h4> 
<a class="btn btn-primary" href="text-analysis.html" style="width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true"
        class="btnBullet" src="images/knot-blue.png"><em>Moby-Dick</em> (TBD)</a>
<h4>Film ADAPTATION</h4><a class="btn btn-primary" href="film-adaptation.html" style="width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true"
    class="btnBullet" src="images/knot-blue.png"> Houston's 1956 "Moby Dick"</a> <a class="btn btn-primary" href="bradbury-screenplay-project.html" style=
    "width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-blue.png"> Sample Collation of Bradbury's
    Screenplay v. Melville's <em>Moby-Dick</em></a> <a class="btn btn-primary" href="storyboarding-moby-dick.html" style=
    "width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-blue.png"> Sample Images from William Grimes's
    Storyboards for Houston's "Moby Dick"</a>
    <h4>TRAVEL: Melville's Geographical Imagination</h4>
    <ul type="circle">
        <li><a href="http://hofstra.github.io/itinerary/melville-in-london/">Itinerary: Melville in London (Travel)</a></li>
        <li><a href="http://hofstra.github.io/itinerary/melville-in-rome/">Itinerary: Melville in Rome (Travel)</a></li>
    </ul>
    <h4>FairCopy</h4>
    <ul>
        <li><a href="https://www.faircopyeditor.com">FairCopy Editor</a></li>
    </ul>
    <h4>Biography</h4><a class="btn btn-primary" href="augusta-comp-intro.html" style="width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true"
    class="btnBullet" src="images/knot-blue.png"> Gansevoort Revises Augusta: Introduction</a> 
    <!-- <a class="btn btn-primary" href="timeline.html"
    style="width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-blue.png"> Timeline: <em>Battle-Pieces</em>
    Timeline</a><br> -->
    <br>
    <a class="btn btn-primary" href="mel-remix-annotation-studio.html" style="width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true" class=
    "btnBullet" src="images/knot-blue.png"> Melville ReMix</a> <a class="btn btn-primary" href="use-cases.html" style=
    "width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-blue.png"> Use Cases</a>
 
<!-- Menu -->