<!-- Archive Menu -->

<a href="images/sources_outline_of_a_whale.jpg" target="_blank">
    <img alt="Outline of a Whale" class="img img-responsive" src="images/sources_outline_of_a_whale.jpg"
        style="padding: 0 0 15px 0;" border="0">
</a>
<a class="btn btn-warning" href="http://melvillesmarginalia.org/" style="width: 100%; margin-bottom: 4px;"
    target="_blank">
    <img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-orange.png"> Melville's Marginalia Online
</a>

<!-- End Archive Menu -->