<!-- Menu -->

<p><a href="images/editions_first_english_american_editions.jpg" target="_blank"><img
            alt="First English and American Editions, 1851" border="0"
            src="images/editions_first_english_american_editions_sm.jpg" style="padding: 0 0 15px 15px;"></a></p>
<a class="btn btn-success" href="versions-of-moby-dick.html" style="width: 100%; margin-bottom: 2px;"><img alt="knot"
        aria-hidden="true" class="btnBullet" src="images/knot-green.png"> Versions of Moby-Dick</a> <a
    class="btn btn-success" href="versions-of-battle-pieces.html" style="width: 100%; margin-bottom: 2px;"><img
        alt="knot" aria-hidden="true" class="btnBullet" src="images/knot-green.png"> Versions of Battle-Pieces</a>
<a class="btn btn-success" href="versions-of-billy-budd.html" style="width: 100%; margin-bottom: 2px;"><img alt="knot"
        aria-hidden="true" class="btnBullet" src="images/knot-green.png"> Versions of Billy Budd</a>

<!-- Menu -->