<!-- Menu -->
 
<br>
<a class="btn btn-success" href="tracking-the-versions-battle-pieces.html" style="width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true"
class="btnBullet" src="images/knot-green.png"> Introduction: Tracking the Versions of Battle-Pieces</a> <a class="btn btn-success" href=
"/editions/battle-pieces/01--prefatory-note.html" rel="noopener" style="width: 100%; margin-bottom: 4px;" target="_blank"><img alt="knot "
aria-hidden="true" class="btnBullet" src="images/knot-green.png"> Battle-Pieces: Reading Text</a> <a class="btn btn-success" href=
"battle-pieces-corrected-first-edition-and-bound-proofs.html" style="width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true" class="btnBullet"
src="images/knot-green.png"> Battle-Pieces: Author's Copies</a> <a class="btn btn-success" href="timeline.html" style=
"width: 100%; margin-bottom: 4px;"><img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-green.png"> <em>Battle-Pieces</em> Timeline</a>
  
    
<!-- Menu -->