<!-- Menu -->

<img alt="Book cover" aria-hidden="true" class="img img-responsive" src="images/arts-prints-book.jpg"/> 
<a class="btn btn-warning" href="artworks.html" style="width: 100%; margin-bottom: 4px;">
    <img alt="knot" aria-hidden="true" class="btnBullet" src="images/knot-orange.png" /> Artworks
</a>
<a class="btn btn-warning" href="melville-print-collection.html" style="width: 100%; margin-bottom: 4px;">
    <img alt="knot" aria-hidden="true" class="btnBullet" src="images/knot-orange.png" /> Melville’s Print Collection
</a>

<!-- Menu -->