<!-- Menu -->

<h4>EDITION</h4>

<a class="btn btn-success" href="/editions/hawthorne-and-his-mosses/mosses_mel.html" rel="noopener" style=
    "width: 100%; margin-bottom: 4px;" target="_blank"><img alt="knot " aria-hidden="true" class="btnBullet" src="images/knot-green.png"> <i>Hawthorne and His Mosses</i>:
    Reading Text</a> 


<ul>
    <li>Revised Fair Copy Manuscript</li>
    <li><em>Literary World</em> Version</li>
    <li>NN Version</li>
    <li>Norton Versions
        <ul>
            <li>2002 Norton Critical Edition of Moby-Dick</li>
            <li>2017 Norton Anthology of American Literature</li>
        </ul>
    </li>
</ul>

<!-- Menu -->