<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header"><button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1"
                data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            <a class="navbar-brand" href="index.html">Melville Electronic Library</a></div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="archive.html">Archive</a></li>
                <li><a href="editions.html">Editions</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li class="dropdown"><a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle"
                        data-toggle="dropdown" href="index.html#" role="button">About us <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="about-us.html">Staff</a></li>
                        <li><a href="grants.html">Grants</a></li>
                        <li><a href="acknowledgments.html">Acknowledgments</a></li>
                    </ul>
                </li>
                <li><h4><span style="float:right"><form action="https://duckduckgo.com" target="_blank" rel="noopener">
                    <label for="search">&nbsp;&nbsp;&nbsp;&nbsp;Search:</label>
                    <input name="q" class="search-query"/>
                    <input type="hidden" name="sites" value="https://melville.electroniclibrary.org/" />
                    <input type="hidden" name="ko" value="-2" />
                    <input type="hidden" name="k1" value="-1" />
                    <input type="hidden" name="kz" value="-1" />
                    <input type="hidden" name="km" value="m" />
                    <input type="hidden" name="k7" value="#fafef5" />
                </form></span>
            </h4></li>
            </ul>
            
        </div>
    </div>
</nav>
