<!-- Menu -->

<div class="row">
    <div align="center" class="col-md-4">
        <h4 style="border-bottom: 1px solid #ccc;"><em>Moby-Dick</em></h4><a
            href="/editions/versions-of-moby-dick/1-loomings.html" rel="noopener" ><img
                alt="Moby Dick Book" aria-hidden="true" class="img img-responsive" src="images/what_is_md.jpg"
                style="max-height: 190px;"></a> <a class="btn btn-primary pull-left"
            href="/editions/versions-of-moby-dick/1-loomings.html" rel="noopener"
            style="width: 49%; margin: 5px 0 25px 0;" >Reading Text</a> <a
            class="btn btn-success pull-right" href="versions-of-moby-dick.html"
            style="width: 49%; margin: 5px 0 25px 0;">Introduction</a>
    </div>
    <div align="center" class="col-md-4">
        <h4 style="border-bottom: 1px solid #ccc;"><em>Battle-Pieces</em></h4><a
            href="https://mel-juxta-editions.herokuapp.com/documents/241" rel="noopener" ><img
                alt="John Brown" aria-hidden="true" class="img img-responsive" src="images/john_brown.jpg"
                style="max-height: 190px;"></a> <a class="btn btn-primary pull-left"
            href="https://mel-juxta-editions.herokuapp.com/documents/241" rel="noopener"
            style="width: 49%; margin: 5px 0 25px 0;" >Reading Text</a> <a
            class="btn btn-success pull-right" href="versions-of-battle-pieces.html"
            style="width: 49%; margin: 5px 0 25px 0;">Introduction</a>
    </div>
    <div align="center" class="col-md-4">
        <h4 style="border-bottom: 1px solid #ccc;"><em>Billy-Budd</em></h4><a
            href="/editions/versions-of-billy-budd/chapter-1.html" rel="noopener"><img
                alt="A sailor's uniform" aria-hidden="true" class="img img-responsive" src="images/shirt2.jpg"
                style="max-height: 190px;"></a> <a class="btn btn-primary pull-left"
            href="/editions/versions-of-billy-budd/chapter-1.html" rel="noopener"
            style="width: 49%; margin: 5px 0 25px 0;" >Reading Text</a> <a
            class="btn btn-success pull-right" href="versions-of-billy-budd.html"
            style="width: 49%; margin: 5px 0 25px 0;">Introduction</a>
    </div>
</div>
<p>As a long-term editorial project slated for completion in 2030, MEL has developed its editorial platform, tools, and
    community, as
    well as an affiliation with <a href="http://hofstradrc.org/" target="_blank">Hofstra’s Digital Research Center
        (DRC)</a> to ensure
    sustainability for its editions.&nbsp; So far, we have launched three “model” editions: <i>Versions of
        Moby-Dick</i>, <i>Versions of</i>
    <i>Battle-Pieces</i>, and <i>Versions of Billy Budd</i>. To learn more about why we chose these three works for our
    model editions, go to
    <a href="versions-of-melville.html">Versions of Melville</a>.&nbsp; Given the nature of digital editing, we will be
    augmenting these
    editions periodically with new content and updates.&nbsp;</p>
<p>At the same time, we are working on new editions: Melville’s first and most popular book <i>Typee</i>, his literary
    manifesto
    “Hawthorne and His Mosses,” his three travel Journals (1849, 1856-67, and 1860), and Melville’s Letters and Family
    Correspondence.</p>
<hr noshade="noshade">
<!-- Menu -->