<!-- ========== HOME CARDS ========== -->
<div class="row">
    <div class="box">
        <div class="col-lg-4 hoverBG">
            <h2 class="text-center" style="background-color: #d58512; padding: 10px; color: #fff;"><a
                    href="archive.html" style="color: #fff;">Archive</a></h2>
            <div style="margin-bottom: 20px;"><a href="archive.html"><img
                        alt="Mashup of Moby Dick book spine, Antinous and Billy Bugg manuscript"
                        class="img img-responsive" src="images/archive-bg.jpg" /></a>
                <h3><a href="archive.html"><span style="color: #d58512; font-weight: bold;">Browse</span></a></h3>
                <p>The Full Collection</p>
                <p>MEL&#8217;s Archive gives you direct access to the digital images, texts, and tools that
                    we use to build our MEL editions.</p>
            </div>
        </div>
        <div class="col-lg-4 hoverBG">
            <h2 class="text-center" style="background-color: #368236; padding: 10px; color: #fff;"><a
                    href="editions.html" style="color: #fff;">Editions</a></h2>
            <div style="margin-bottom: 20px;"><a href="editions.html"><img
                        alt="Mashup of Moby Dick book spine, Antinous and Billy Bugg manuscript"
                        class="img img-responsive" src="images/editions-bg.jpg" /></a>
                <h3><a href="editions.html"><span style="color: #368236; font-weight: bold;">Read</span></a>
                </h3>
                <p>Melville&#8217;s Works</p>
                <p>MEL&#8217;s textual core consists of an integrated set of scholarly fluid-text editions
                    that, when fully realized, will allow you to navigate all versions of Melville&#8217;s
                    works.</p>
            </div>
        </div>
        <div class="col-lg-4 hoverBG">
            <h2 class="text-center" style="background-color: #204d74; padding: 10px; color: #fff;"><a
                    href="projects.html" style="color: #fff;">Projects</a></h2>
            <div style="margin-bottom: 20px;"><a href="projects.html"><img
                        alt="Mashup of Moby Dick book spine, Antinous and Billy Bugg manuscript"
                        class="img img-responsive" src="images/projects-bg.jpg" /></a>
                <h3><a href="projects.html"><span style="color: #204d74; font-weight: bold;">Create</span></a></h3>
                <p>Scholarship and Pedagogy</p>
                <p>Visitors to MEL&#8217;s workspaces can draw upon our Archive and Editions to create
                    essays, presentations, exhibits, or classroom assignments.</p>
            </div>
        </div>
    </div>
</div>
<!-- ========== END HOME CARDS ========== -->