<!-- Menu -->

<div class="row">
    <div align="center" class="col-md-4">
        <h4 style="border-bottom: 1px solid #ccc;"><em>Moby-Dick</em></h4><a
            href="/editions/versions-of-moby-dick/1-loomings.html" rel="noopener" ><img
                alt="Moby Dick Book" aria-hidden="true" class="img img-responsive" src="images/what_is_md.jpg"
                style="max-height: 190px;"></a> <a class="btn btn-primary pull-left"
            href="/editions/versions-of-moby-dick/1-loomings.html" rel="noopener"
            style="width: 49%; margin: 5px 0 25px 0;" >Reading Text</a> <a
            class="btn btn-success pull-right" href="versions-of-moby-dick.html"
            style="width: 49%; margin: 5px 0 25px 0;">Introduction</a>
    </div>
    <div align="center" class="col-md-4">
        <h4 style="border-bottom: 1px solid #ccc;"><em>Battle-Pieces</em></h4><a
            href="https://mel-juxta-editions.herokuapp.com/documents/241" rel="noopener" ><img
                alt="John Brown" aria-hidden="true" class="img img-responsive" src="images/john_brown.jpg"
                style="max-height: 190px;"></a> <a class="btn btn-primary pull-left"
            href="https://mel-juxta-editions.herokuapp.com/documents/241" rel="noopener"
            style="width: 49%; margin: 5px 0 25px 0;" >Reading Text</a> <a
            class="btn btn-success pull-right" href="versions-of-battle-pieces.html"
            style="width: 49%; margin: 5px 0 25px 0;">Introduction</a>
    </div>
    <div align="center" class="col-md-4">
        <h4 style="border-bottom: 1px solid #ccc;"><em>Billy-Budd</em></h4><a
            href="/editions/versions-of-billy-budd/chapter-1.html" rel="noopener"><img
                alt="A sailor's uniform" aria-hidden="true" class="img img-responsive" src="images/shirt2.jpg"
                style="max-height: 190px;"></a> <a class="btn btn-primary pull-left"
            href="/editions/versions-of-billy-budd/chapter-1.html" rel="noopener"
            style="width: 49%; margin: 5px 0 25px 0;" >Reading Text</a> <a
            class="btn btn-success pull-right" href="versions-of-billy-budd.html"
            style="width: 49%; margin: 5px 0 25px 0;">Introduction</a>
    </div>
</div>
<!-- Menu -->
