<!-- Menu -->

<div class="row">
    <div align="center" class="col-md-3">
        <h4 style="border-bottom: 1px solid #ccc;"><em>Moby-Dick</em></h4><a
            href="/editions/versions-of-moby-dick/1-loomings.html" rel="noopener" ><img
                alt="Moby Dick Book" aria-hidden="true" class="img img-responsive" src="images/what_is_md.jpg"
                style="max-height: 190px;"></a> 
                <a class="btn btn-primary"
            href="/editions/versions-of-moby-dick/1-loomings.html" rel="noopener"
            style="width: 65%; margin: 5px auto 0px auto;" >Reading Text</a> <a
            class="btn btn-success" href="versions-of-moby-dick.html"
            style="width: 65%; margin: 5px auto 25px auto;">Introduction</a>
    </div>
    <div align="center" class="col-md-3">
        <h4 style="border-bottom: 1px solid #ccc;"><em>Battle-Pieces</em></h4><a
            href="/editions/battle-pieces/01--prefatory-note.html" rel="noopener" ><img
                alt="John Brown" aria-hidden="true" class="img img-responsive" src="images/john_brown.jpg"
                style="max-height: 190px;"></a> <a class="btn btn-primary"
            href="/editions/battle-pieces/01--prefatory-note.html" rel="noopener"
            style="width: 65%; margin: 5px auto 0px auto;" >Reading Text</a> <a
            class="btn btn-success" href="versions-of-battle-pieces.html"
            style="width: 65%; margin: 5px auto 25px auto;">Introduction</a>
    </div>
    <div align="center" class="col-md-3">
        <h4 style="border-bottom: 1px solid #ccc;"><em>Billy-Budd</em></h4><a
            href="/editions/versions-of-billy-budd/chapter-1.html" rel="noopener"><img
                alt="A sailor's uniform" aria-hidden="true" class="img img-responsive" src="images/shirt2.jpg"
                style="max-height: 190px;"></a> <a class="btn btn-primary"
            href="/editions/versions-of-billy-budd/chapter-1.html" rel="noopener"
            style="width: 65%; margin: 5px auto 0px auto;" >Reading Text</a> <a
            class="btn btn-success" href="versions-of-billy-budd.html"
            style="width: 65%; margin: 5px auto 25px auto;">Introduction</a>
    </div>
    <div align="center" class="col-md-3">
        <h4 style="border-bottom: 1px solid #ccc;"><em>Hawthorne-Mosses</em></h4><a
            href="/editions/hawthorne-and-his-mosses/mosses_mel.html" rel="noopener"><img
                alt="A sailor's uniform" aria-hidden="true" class="img img-responsive" src="images/shirt2.jpg"
                style="max-height: 190px;"></a> <a class="btn btn-primary"
            href="/editions/hawthorne-and-his-mosses/mosses_mel.html" rel="noopener"
            style="width: 65%; margin: 5px auto 0px auto;" >Reading Text</a> <a
            class="btn btn-success" href="versions-of-hawthorne-and-his-mosses.html"
            style="width: 65%; margin: 5px auto 25px auto;">Introduction</a>
    </div>
</div>
<!-- Menu -->
