#warning {
  enable-background: new 0 0 20 20;
  width: 25px;
  height: 25px;
  padding-bottom: 5px;
  .st0 {
    filter: url(#Adobe_OpacityMaskFilter);
  }

  .st1 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #ffffff;
  }

  .st2 {
    mask: url(#c_1_);
  }

  .st3 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #cc0000;
  }
}
