<!DOCTYPE html>
<html id="landing-page" lang="en">

{% include head.html %}

<body class="index">
	<div class="container-fluid">
		{% include header.html %}

		<!-- ========== Main ========== -->
		<div class="container"><a id="skiplinks" name="skiplinks"></a>
			<div class="starter">
				<main id="content" role="main">

					<h1> {{ page.title }} </h1>
					<div class="row box">

						{% if page.title == 'Archive' %}
						<!-- ========== Archive ========== -->
						<div class="col-xs-8">
							{{ content }}
							{% include _ui_contact_button.html %}
						</div>
						<div class="col-sm-4">
							{% include menu-archive.html %}
						</div><!-- ========== End Archive ========== -->

						{% elsif page.title == 'Manuscripts & Books' %}

						<!-- ========== Manuscripts & Books ========== -->
						<div class="col-xs-7">
							{{ content }}
						</div>

						<div class="col-sm-5">
							{% include menu-manuscripts-and-books.html %}
						</div><!-- ========== End Manuscripts & Books ========== -->

						{% elsif page.title == 'Manuscripts' %}

						<!-- ========== Manuscripts ========== -->
						<div class="col-xs-7">
							{{ content }}
						</div>

						<div class="col-sm-5">
							{% include menu-manuscripts.html %}
						</div><!-- ==========  end  Manuscripts ========== -->

						{% elsif page.title == 'Books' %}

						<!-- ========== Books========== -->
						<div class="col-xs-8">
							{{ content }}
						</div>

						<div class="col-sm-4">
							{% include menu-books.html %}
						</div><!-- ========== end Books ========== -->

						{% elsif page.title == 'Arts & Prints' %}

						<!-- ========== Books========== -->
						<div class="col-xs-8">
							{{ content }}
						</div>

						<div class="col-sm-4">
							{% include menu-arts-and-prints.html %}
						</div><!-- ========== end Books ========== -->

						{% elsif page.title == 'Melville&#39;s Print Collection' %}

						<!-- ========== Melville's Print Collection========== -->
						<div class="col-xs-8">
							{{ content }}
						</div>

						<div class="col-sm-4">
							{% include menu-melville-print-collection.html %}
						</div><!-- ========== end Melville's Print Collection ========== -->

						{% elsif page.title == 'Artworks' %}

						<!-- ========== Artworks========== -->
						<div class="col-xs-8">
							{{ content }}
						</div>

						<div class="col-sm-4">
							{% include menu-artworks.html %}
						</div><!-- ========== end Artworks ========== -->

						{% elsif page.title == 'Artworks' %}

						<!-- ========== Artworks========== -->
						<div class="col-xs-8">
							{{ content }}
						</div>

						<div class="col-sm-4">
							{% include menu-artworks.html %}
						</div><!-- ========== end Artworks ========== -->
						{% elsif page.title == 'Sources' %}

						<!-- ========== Sources========== -->
						<div class="col-xs-8">
							{{ content }}
						</div>

						<div class="col-sm-4">
							{% include menu-sources.html %}
						</div><!-- ========== end Sources ========== -->

						{% elsif page.title == 'Adaptation' %}

						<!-- ========== Adaptation========== -->
						<div class="col-xs-8">
							{{ content }}
						</div>

						<div class="col-sm-4">
							{% include menu-adaptation.html %}
						</div><!-- ========== end Adaptation ========== -->

						{% elsif page.title == 'Biographical Materials' %}

						<!-- ========== biographical materias========== -->
						<div class="col-xs-8">
							{{ content }}
						</div>

						<div class="col-sm-4">
							{% include menu-biographical-materials.html %}
						</div><!-- ========== end biographical materias ========== -->

						{% elsif page.title == 'Bibliography' %}

						<!-- ========== biographical materias========== -->
						<div class="col-xs-8">
							{{ content }}
						</div>

						<div class="col-sm-4">
							{% include menu-bibliography.html %}
						</div><!-- ========== end biographical materias ========== -->

						{% elsif page.title == 'Film Adaptation' %}

						<!-- ========== Film Adaptation========== -->
						<div class="col-xs-8">
							{{ content }}
						</div>

						<div class="col-sm-4">
							{% include menu-film-adaptation.html %}
						</div><!-- ========== end Film Adaptation ========== -->

						{% elsif page.title == 'Bradbury Screenplay Project' %}

						<!-- ========== Bradbury Screenplay Project========== -->
						<div class="col-xs-8">
							{{ content }}
						</div>

						<div class="col-sm-4">
							{% include menu-bradbury-screenplay-project.html %}
						</div><!-- ========== end Bradbury Screenplay Project ========== -->

						{% elsif page.title == 'Storyboarding Moby Dick' %}

						<!-- ========== Storyboarding Moby Dick========== -->
						<div class="col-xs-8">
							{{ content }}
						</div>

						<div class="col-sm-4">
							{% include menu-storyboarding-moby-dick.html %}
						</div><!-- ========== end Storyboarding Moby Dick= ========== -->

						{% elsif page.title == 'Works on the fluid text and fluid-text editing' %}

						<!-- ========== Wratings ========== -->
						<div class="col-xs-8">
							{{ content }}
						</div>

						<div class="col-sm-4">
							{% include menu-writings-on-fluid-texts.html %}
						</div><!-- ========== end Storyboarding Moby Dick= ========== -->



						{% else %}

						{% endif %}









						<!-- ========== end menu column ========== -->




					</div>
				</main>
			</div>
		</div>
		<!-- ========== End main ========== -->
		{% include footer.html %}
	</div>
</body>
{% include scripts.html %}

</html>