<!DOCTYPE html>
<html id="landing-page" lang="en">

{% include head.html %}

<body class="index">
    <div class="container-fluid">
        {% include header.html %}

        <!-- ========== Main ========== -->
        <div class="container"><a id="skiplinks" name="skiplinks"></a>
            <div class="starter">
                <main id="content" role="main">

                    <h1 style="margin-right:15%; text-align:left"> {{ page.title }} </h1>
                    <div class="row box">

                        {% if page.title == 'Mel Editions' %}
                        <!-- ========== Editions========== -->
                        <div class="col-xs-9">
                            {{ content }}

                        </div>
                        <div class="col-sm-3">
                            {% include menu-editions.html %}
                        </div>
                        <div class="col-xs-12">
                            {% include section-editions-banner.html %}
                        </div>
                        <!-- ========== End Editions========== -->

                        {% elsif page.title == 'What is a Fluid Text' %}

                        <!-- ========== What is a Fluid Text ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">
                            {% include menu-what-is-a-fluid-text.html %}
                        </div><!-- ========== End What is a Fluid Text ========== -->

                        {% elsif page.title == 'Versions of Melville' %}

                        <!-- ========== Versions of Melville ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">
                            {% include menu-versions-of-melville.html %}
                        </div><!-- ========== End Versions of Melville ========== -->

                        {% elsif page.title == 'Versions of &#34;Hawthorne And His Mosses &#34;' %}

                        <!-- ========== Versions of Melville ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">
                            {% include menu-versions-of-hawthorne-and-his-mosses.html %}
                        </div><!-- ========== End Versions of Melville ========== -->

                        {% elsif page.title == 'Journals' %}

                        <!-- ========== Journals ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">

                        </div>
                        <!-- ========== End of Journals========== -->

                        {% elsif page.title == 'Letters and Family Correspondence' %}

                        <!-- ========== Letters and Family Correspondence ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">

                        </div>
                        <!-- ========== End of Letters and Family Correspondence========== -->

                        {% elsif page.title == 'Versions of Moby&#8211;Dick&#58; A Fluid&#8211;Text Edition' %}

                        <!-- ========== Versions of Moby-Dick ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">
                            {% include menu-editions-versions-of-moby-dick.html %}
                        </div>
                        <!-- ========== End  Versions of Moby-Dick ========== -->




                        {% else %}

                        {% endif %}









                        <!-- ========== end menu column ========== -->




                    </div>
                </main>
            </div>
        </div>
        <!-- ========== End main ========== -->
        {% include footer.html %}
    </div>
</body>
{% include scripts.html %}

</html>