<!DOCTYPE html>
<html id="landing-page" lang="en">

{% include head.html %}

<body class="index">
    <div class="container-fluid">
        {% include header.html %}

        <!-- ========== Main ========== -->
        <div class="container"><a id="skiplinks" name="skiplinks"></a>
            <div class="starter">
                <main id="content" role="main">

                    <h1 style="margin-right:15%; text-align:left"> {{ page.title }} </h1>
                    <div class="row box">

                        {% if page.title == 'Mel Editions' %}
                        <!-- ========== Editions========== -->
                        <div class="col-xs-9">
                            {{ content }}

                        </div>
                        <div class="col-sm-3">
                            {% include menu-editions.html %}
                        </div>
                        <div class="col-xs-12">
                            {% include section-editions-banner.html %}
                        </div>
                        <!-- ========== End Editions========== -->

                        {% elsif page.title == 'What is a Fluid Text' %}

                        <!-- ========== What is a Fluid Text ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">
                            {% include menu-what-is-a-fluid-text.html %}
                        </div><!-- ========== End What is a Fluid Text ========== -->

                        {% elsif page.title == 'Versions of Melville' %}

                        <!-- ========== Versions of Melville ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">
                            {% include menu-versions-of-melville.html %}
                        </div><!-- ========== End Versions of Melville ========== -->

                        {% elsif page.title == 'Versions of &#34;Hawthorne And His Mosses &#34;' %}

                        <!-- ========== Versions of Melville ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">
                            {% include menu-versions-of-hawthorne-and-his-mosses.html %}
                        </div><!-- ========== End Versions of Melville ========== -->

                        {% elsif page.title == 'Journals' %}

                        <!-- ========== Journals ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">

                        </div>
                        <!-- ========== End of Journals========== -->

                        {% elsif page.title == 'Letters and Family Correspondence' %}

                        <!-- ========== Letters and Family Correspondence ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">

                        </div>
                        <!-- ========== End of Letters and Family Correspondence========== -->

                        {% elsif page.title == 'Versions of Moby&#8211;Dick&#58; A Fluid&#8211;Text Edition' %}

                        <!-- ========== Versions of Moby-Dick ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">
                            {% include menu-editions-versions-of-moby-dick.html %}
                        </div>
                        <!-- ========== End  Versions of Moby-Dick ========== -->
                        
                        {% elsif page.title == 'Tracking the Versions of Moby&#8211;Dick' %}

                        <!-- ========== Tracking Versions of Moby-Dick ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">
                            {% include menu-tracking-the-versions-moby-dick.html %}
                        </div>
                        <!-- ========== End  Tracking  Versions of Moby-Dick ========== -->
                        {% elsif page.title == 'How to Use the Edition&#58; Moby&#8211;Dick' %}

                        <!-- ========== How to Use the  Moby-Dick Edition ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">
                            {% include menu-how-to-use-the-edition-moby-dick.html %}
                        </div>
                        <!-- ========== End  How to Use the  Moby-Dick Edition ========== -->

                        {% elsif page.title == 'Collating Moby&#8211;Dick&#58; Expurgations and Revision Narratives' %}

                        <!-- ========== Expurgating Moby-Dick ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">
                            {% include menu-expurgating-moby-dick.html %}
                        </div>
                        <!-- ========== End  Expurgating Moby-Dick  ========== -->

                        {% elsif page.title == 'Versions of Battle&#8211;Pieces' %}

                        <!-- ==========  Versions of Battle:Pieces ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">
                            {% include menu-versions-of-battle-pieces.html %}
                        </div>
                        <!-- ========== End  Versions of Battle:Pieces  ========== -->
                        
                        
                        {% elsif page.title == 'Tracking the Versions&#58; Battle Pieces' %}

                        <!-- ==========  Tracking  Versions of Battle:Pieces ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">
                            {% include menu-tracking-the-versions-battle-pieces.html %}
                        </div>
                        <!-- ========== End  Tracking  Versions of Battle:Pieces  ========== -->
                            
                        {% elsif page.title == 'Versions of Billy Budd&#58; A Fluid&#8211;Text Edition' %}

                        <!-- ==========  Tracking  Versions of Battle:Pieces ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">
                            {% include menu-versions-billy-budd.html %}
                        </div>
                        <!-- ========== End  Tracking  Versions of Battle:Pieces  ========== -->
                        
                        {% elsif page.title == 'Tracking the Versions' %}

                        <!-- ==========  Tracking the Versions ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">
                            {% include menu-tracking-the-versions.html %}
                        </div>
                        <!-- ========== End  Tracking the Versions ========== -->
                        
                        {% elsif page.title == 'How to Use the Edition' %}

                        <!-- ==========  How to Use the Edition ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">
                            {% include menu-how-to-use-the-edition.html %}
                        </div>
                        <!-- ========== End  How to Use the Edition ========== -->

                        {% elsif page.title == 'How Billy Grew' %}

                        <!-- ==========  How Billy Grew ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">
                            {% include menu-how-billy-grew.html %}
                        </div>
                        <!-- ========== End  How Billy Grew ========== -->

                        {% elsif page.title == 'Modes of Digital Editing' %}

                        <!-- ==========  Modes of Digital Editing ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">
                            {% include menu-modes-of-digital-editing.html %}
                        </div>
                        <!-- ========== End  Modes of Digital Editing ========== -->

                        {% elsif page.title == 'Transcription Coding' %}

                        <!-- ==========  Transcription Coding ========== -->
                        <div class="col-xs-8">
                            {{ content }}
                        </div>

                        <div class="col-sm-4">
                            {% include menu-transcription-coding.html %}
                        </div>
                        <!-- ========== End  Transcription Coding ========== -->


                        {% else %}

                        {% endif %}









                        <!-- ========== end menu column ========== -->




                    </div>
                </main>
            </div>
        </div>
        <!-- ========== End main ========== -->
        {% include footer.html %}
    </div>
</body>
{% include scripts.html %}

</html>