<!DOCTYPE html>
<html id="landing-page" lang="en">

{% include head.html %}

<body class="index">
        <div class="container-fluid">
                {% include header.html %}

                <!-- ========== MAIN ========== -->
                <div class="container"><a id="skiplinks" name="skiplinks"></a>
                        <div class="starter">
                                <main id="content" role="main">

                                        <h1>
                                                {{ page.title }}
                                        </h1>
                                        <div class="row box">
                                                <div class="col-xs-8">
                                                        {{ content }}
                                                </div>


                                                {% if page.title == 'Archive' %}
                                                {% include menu-archive.html %}
                                                {% if page.title == 'Other' %}
                                                {% include menu-archive.html %}
                                                {% elsif %}

                                                {% else %}
                                                {% endif %}





                                        </div>
                                </main>
                        </div>
                </div>
                <!-- ========== END MAIN ========== -->
                {% include footer.html %}
        </div>
</body>
{% include scripts.html %}

</html>